@viewport { 
    width: device-width; 
    zoom: 1; 
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFEBB6;
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    background-image: url(../img/background-body.png);
}

.container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    
    width: 80vw;
    height: 90vh;
    background-color: #29C08B;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 10px solid #fff;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    
    background-image: url("../img/background.png");
    background-repeat: round;
}
/*----------nav---------------*/

.nav {
    position: absolute;
    top: 15%;
    z-index: 2;
    width: 15vw;
    height: 40vh;
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav li {
    position: relative;
    left: -180px;
    
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    
    list-style: none;
    color: #fff;
    padding: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
    background-color: #D9847C;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    
    box-shadow: -3px 4px 0px 0px #757678;
}

.nav li:hover{left: 0px;}
.nav li a {color: #fff;}

.active {
    position: relative;
    left: 0px !important;
    
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

/*-------------------*/

.sous-menu {
    position: absolute;
    z-index: 2;
    right: 0%;
    top: 15%;
    
    width: 25vw;
    height: auto;
    
    background-color: #E6E64E;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    
    box-shadow: 3px 4px 0px 0px #757678;
}
.sous-menu > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sous-menu li a {color: #0F205A;line-height: 200%;} 

/*-----------------main------------------*/

.main {
    position: relative;
    left: 20%;
    top: 20%;
    width: 45vw;
    height: 43vh;  
    overflow: hidden;
    background-color: #FFEBB6;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 3px 0px 0px #757678;
}

.content {
    height: auto;
    width: 90%;
    margin: 0px auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43vh;
}

section > p {
    height: auto;
    text-align: justify;
    text-justify: inter-word;
    color: #0F205A;
}

/*---------------------------------------*/

a {
    text-decoration: none;
    color: #0F205A;
}

.citation {
    font-family: 'Oswald', sans-serif;
    font-size: 8.5vw;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left:0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    color: #074E78;
    text-shadow: 0px 5px #D9847C;
}

#avatar, #floriane-avatar {
    position: absolute;
    left: 40%;
    top: -10%;
    z-index: 1;
    width: 200px;
    height: auto;
    margin: 0px;
}

#makingof, #entreprise {
    position: absolute;
    left: 31%;
    top: -10%;
    z-index: 1;
    height: 200px;
    width: auto;
}

/*------------nav buttons buzz out effect-------------*/
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/*--------------RESPONSIVE-----------------*/

@media all and (max-width:1366px) and (orientation:landscape) {
    @-webkit-viewport{ width: device-width;}
    @-moz-viewport{width: device-width;}
    @-ms-viewport{width: device-width;}
    @-o-viewport{width: device-width;}
    @viewport{width: device-width;}
    
}

/*------------------------------*/

@media all and (max-width:1024px) and (orientation:portrait) {
    @-webkit-viewport{ width: device-width;}
    @-moz-viewport{width: device-width;}
    @-ms-viewport{width: device-width;}
    @-o-viewport{width: device-width;}
    @viewport{width: device-width;}
    
}

/*------------------------------*/
















